.todo-app * {
  color: #ccc;
}

h1 {
  color: #ddd!important;
}

.todo-app {
  max-width: 450px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

.todo-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.todo-input input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.todo-input button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff80;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-input button:hover {
  background-color: #0056b380;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.todo-list li.pending {
  opacity: 0.6; /* Make it slightly transparent */
}

.todo-list li span {
  flex: 1;
}

.todo-list li button {
  padding: 6px 10px;
  font-size: 14px;
  background: #f0606080;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}
.todo-list li button:last-child {
  margin-right: 0;
}

.todo-list li button.pending {
  background-color: #ffc10780;
}

.todo-list li button:hover{
  background-color: #c8233380;
}

.todo-list li button.toggle-pending {
  padding: 6px 10px;
  font-size: 14px;
  color: #f0606080;
  background: #fff;
  border: 1px solid #f0606080;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.todo-list li.pending button.toggle-pending {
  color: #fff;
  background-color: #f0606080;
  border-color: #fff;
}

#todo-input::placeholder {
  color: #eee;
}

.todo-list li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: grab; /* ドラッグ可能なカーソルを設定 */
  user-select: none; /* テキスト選択を無効にする */
}

.todo-list li.dragging {
  opacity: 0.6; /* ドラッグ中の透明度を下げる */
  cursor: grabbing; /* ドラッグ中のカーソルを設定 */
}

.edit-icon {
  width: 16px;
  height: 16px;
}

.edit-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.todo-list li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative; /* 相対配置を追加 */
}

.todo-list li .edit-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px; /* 余白を5pxに設定 */
  margin-left: 5px; /* 余白を5pxに設定 */
}

.todo-list li .edit-icon {
  width: 16px;
  height: 16px;
}

.todo-list li button.edit-todo{
  padding: 7px 10px;
}
.todo-text{
  margin-right: 5px;
  word-break: break-all;
}

